.vs/HPEGeneralProcessor/v15/.suo
Backup/mssccprj.scc
Backup/AssemblyInfo.cs
Backup/ConfigData.cs
Backup/Constants.cs
Backup/DelegateExtension.cs
Backup/DelegateExtLoader.cs
Backup/JobDefinitionExtension.cs
Backup/JobDefinitionExtLoader.cs
Backup/LogServer.cs
Backup/SmartDispatcherExtension.cs
Backup/SmartDispatcherExtLoader.cs
Backup/UserInterface.cs
Backup/UserInterface.resx
Backup/v8iCopyOutAndExec.csproj
Backup/vssver.scc
HPEGeneralProcessor.csproj.user
HPEGeneralProcessor.v11.suo
mssccprj.scc
MyTemplate.vstemplate
obj/Debug/CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/HPE.Automation.Extensions.HPEGeneralProcessor.UserInterface.resources
obj/Debug/HPEGeneralProcessor.csproj.FileListAbsolute.txt
obj/Debug/HPEGeneralProcessor.csproj.GenerateResource.Cache
obj/Debug/HPEGeneralProcessor.csprojResolveAssemblyReference.cache
obj/Debug/HPEGeneralProcessor.dll
obj/Debug/HPEGeneralProcessor.pdb
UpgradeLog.htm
vssver.scc
